<!-- about.html -->
<section class="about" id="about">
  <div class="container about__container">
    <h2 class="about__title h2-text">
      Resource is
      <span class="about__title-accent accent-text"
        >the perfect and cozy place</span
      >
      where you can enjoy a variety of hot beverages, relax, catch up with
      friends, or get some work done.
    </h2>

    <div class="about__images">
      <div class="about__column">
        <div class="about__box about__box--tall">
          <img
            class="about__image"
            src="images/about-1.jpg"
            alt="Smiling woman stirring a cup of coffee"
          />
        </div>
        <div class="about__box about__box--short">
          <img
            class="about__image"
            src="images/about-2.jpg"
            alt="Cup of coffee on a table with string lights"
          />
        </div>
      </div>

      <div class="about__column">
        <div class="about__box about__box--short">
          <img
            class="about__image"
            src="images/about-3.jpg"
            alt="Man drinking coffee while working on a laptop"
          />
        </div>
        <div class="about__box about__box--tall">
          <img
            class="about__image"
            src="images/about-4.jpg"
            alt="Couple enjoying coffee together"
          />
        </div>
      </div>
    </div>
  </div>
</section>

