<!-- download.html -->
<section class="download" id="download">
  <div class="container download__container">
    <div class="download__offer">
      <h2 class="download__title h2-text">
        <span class="download__title-accent accent-text">Download</span> our app
        to start ordering
      </h2>

      <p class="download__text medium-text">
        Download the Resource app today and experience the comfort of ordering
        your favorite coffee from wherever you are
      </p>

      <div class="download__buttons">
        <a
          class="button-store"
          href="https://www.apple.com/app-store/"
          target="_blank"
        >
          <img class="button-store__icon" src="/svg/apple.svg" alt="" />
          <span class="button-store__text">
            <span class="button-store__caption caption-text"
              >Available on the</span
            >
            <span class="button-store__name link-btn-text">App Store</span>
          </span>
        </a>

        <a
          class="button-store"
          href="https://play.google.com/store"
          target="_blank"
        >
          <img class="button-store__icon" src="/svg/google-play.svg" alt="" />
          <span class="button-store__text">
            <span class="button-store__caption caption-text">Available on</span>
            <span class="button-store__name link-btn-text">Google Play</span>
          </span>
        </a>
      </div>
    </div>

    <img
      class="download__image"
      src="/images/mobile-screens.png"
      alt="Resource app on two smartphones"
    />
  </div>
</section>
