<!-- footer.html -->
<footer class="footer" id="contacts">
  <div class="container footer__container">
    <div class="footer__offer">
      <h2 class="footer__title h2-text">
        Sip, Savor, Smile.
        <span class="footer__title-accent accent-text">It's coffee time!</span>
      </h2>

      <ul class="footer__socials">
        <li>
          <a
            class="button-icon-light"
            href="https://twitter.com"
            target="_blank"
            aria-label="Twitter"
          >
            <img
              class="button-icon-light__icon"
              src="/svg/twitter.svg"
              alt=""
            />
          </a>
        </li>
        <li>
          <a
            class="button-icon-light"
            href="https://instagram.com"
            target="_blank"
            aria-label="Instagram"
          >
            <img
              class="button-icon-light__icon"
              src="/svg/instagram.svg"
              alt=""
            />
          </a>
        </li>
        <li>
          <a
            class="button-icon-light"
            href="https://facebook.com"
            target="_blank"
            aria-label="Facebook"
          >
            <img
              class="button-icon-light__icon"
              src="/svg/facebook.svg"
              alt=""
            />
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__contacts-info">
      <h3 class="footer__contacts-title h3-text">Contact us</h3>

      <ul class="footer__contacts">
        <li>
          <a
            class="link-contact link-btn-text"
            href="https://maps.google.com/?q=8558+Green+Rd.,+LA"
            target="_blank"
          >
            <img class="link-contact__icon" src="/svg/location.svg" alt="" />
            8558 Green Rd., LA
          </a>
        </li>
        <li>
          <a class="link-contact link-btn-text" href="tel:+16035550123">
            <img class="link-contact__icon" src="/svg/phone.svg" alt="" />
            +1 (603) 555-0123
          </a>
        </li>
        <li>
          <p class="link-contact link-btn-text">
            <img class="link-contact__icon" src="/svg/clock.svg" alt="" />
            Mon-Sat: 9:00-23:00
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
