<!-- header.html -->
<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="./">
      <img
        class="header__logo-img"
        src="svg/logo.svg"
        alt="Resource Coffee House"
      />
    </a>

    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__link link-btn-text" href="./#favorite"
            >Favorite coffee</a
          >
        </li>
        <li class="header__menu-item">
          <a class="header__link link-btn-text" href="./#about">About</a>
        </li>
        <li class="header__menu-item">
          <a class="header__link link-btn-text" href="./#download"
            >Mobile app</a
          >
        </li>
        <li class="header__menu-item">
          <a class="header__link link-btn-text" href="./#contacts"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>

    <div class="header__actions">
      <button
        class="header__theme-switch"
        type="button"
        aria-label="Switch theme"
      >
        <img
          class="header__theme-icon header__theme-icon--sun"
          src="svg/sun.svg"
          alt=""
        />
        <img
          class="header__theme-icon header__theme-icon--moon"
          src="svg/moon.svg"
          alt=""
        />
      </button>

      <a class="header__menu-link link-btn-text" href="catalog.html">
        Menu
        <img class="header__coffee-cup" src="svg/coffee-cup.svg" alt="" />
      </a>

      <button class="header__burger" type="button" aria-label="Open menu">
        <span class="header__burger-bar"></span>
        <span class="header__burger-bar"></span>
      </button>
    </div>
  </div>
</header>
