<!-- hero.html -->
<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__offer">
      <h1 class="hero__title h1-text">
        <span class="hero__title-accent accent-text">Enjoy</span> premium
        coffee at our charming cafe
      </h1>

      <p class="hero__text medium-text">
        With its inviting atmosphere and delicious coffee options, the Coffee
        House Resource is a popular destination for coffee lovers and those
        seeking a warm and inviting space to enjoy their favorite beverage.
      </p>

      <a class="hero__button button-primary link-btn-text" href="catalog.html">
        Menu
        <img class="button-primary__icon" src="svg/coffee-cup.svg" alt="" />
      </a>
    </div>
  </div>
</section>
